<section class="about">
        <div>
            <h3>LITTLE ABOUT US</h3>
            <br>
            <img src="../../assets/trek.jpg"/>
            <p class="description">
                Perfect Holiday offers incredible holiday experiences through its cultural, topography, and wildlife diversity. With these amazing and unique experiences, this south Asian country conveniently finds its way into the world tourism map as one of the finest destinations for a holistic vacation. Along with the best nature sightseeing tours, Perfect Holiday offers an opportunity to visitors to have a little adventure of their own. The numerous spell-binding and less-trodden trails give trekking tour opportunities in South Asia unlike any other. We offer Accommodation services from low cost homestays to five star hotels, Hospitality services including food and beverage serving centers, Health care services, All modes of transport, its booking and rental, Travel agencies, guided tours and tourist guides, Cultural services such as religious monuments, museums, and historical places and Shopping.
            </p>
        </div>
        <div class="follow">
            <h4>Follow Us</h4>
            <a href="#">Facebook</a>
            <a href="#">Instagram</a>
            <a href="#">Twitter</a>
            <a href="#">YouTube</a>
        </div>
</section>
